################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodingProblemSolutions/.vs/CodingProblemSolutionsConsole
/CodingProblemSolutions/CodingProblemSolutions/obj/
/CodingProblemSolutions/test-interview-problems/obj
/CodingProblemSolutions/test-interview-problems/bin/Debug/net8.0
